body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.content{
  min-height: 600px;
  padding-left: 1%;
  padding-right: 1%;

}

.cv{
  width: 100%;
  display: flex;
  justify-content: center;
}

.columna1Cv{
  width: 60%;
}

.cv img{
  width: 100%;
}

.cv .columna1Cv .textoCv a{
  border: black 2px solid;
  background: black;
  color: #ffffff;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  text-decoration: none;

}

#titCv{
  margin-bottom: 30px;
}

.textoCv p{
  margin-bottom: 30px;
}

.imgCv{
  margin-top: 30px;
}

.textoCv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

.divBtnCv{
  justify-content: center;
}


/* Footer */
.fondoFooter{
  background: black;
  padding-top: 20px;
  margin-top: 20px;
}

.tarjetasContacto{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  
}

.tarjeta{
  width: 20%;
  min-height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid #BA9323;
  border-radius: 10px;
  padding: 20px;
  background: white;
}

.tarjeta a{
  color: black;
  text-decoration: none;
  font-weight: 700;
}

.tarjeta a:hover{
  color:#BA9323;
}

.tarjeta p{
  font-weight: 700;
  margin: 0;
}

.tarjeta .iconosTarjeta{
  font-size: 30px;
}

.iconoTarjetaEnlace{
  font-size: 20px;
}

hr{
  border: 1px solid black;
  width: 100%;
}

.iconosSociales{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.iconosSociales div{
  margin-right: 15px;
  background: #888888;
  padding: 15px;
  border-radius: 50px;
}

.iconoRed{
  font-size: 20px;
}

.footer{
  text-align: center;
  font-size: 14px;
  padding-bottom: 35px;
  padding-top: 30px;
  background: black;
  color: #888888;
}

@keyframes rotar{
  from{
    transform: rotateZ(180deg);
  }to{
    transform: rotateZ(-180deg);
  }
}

/* Media query para pantallas más pequeñas (ej. móviles) */
@media (max-width: 700px) {
  
  .tarjetasContacto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    margin: 20px;
  }

  .tarjeta{
    width: 70%;
    margin-top: 20px;
  }
  
}

